/*
 *  Document   : main.css
 *  Author     : pixelcave
 *  Description: The main stylesheet of the template
 *
 *  Structure (with shortcodes):
 *      (#m01mls) MAIN LAYOUT
 *      (#m02hds) HEADER
 *      (#m03mcs) MAIN CONTENT
 *      (#m04bos) BOOTSTRAP OVERWRITE/EXTEND STYLES
 *      (#m05ths) THEME
 *      (#m06hes) HELPERS
 *      (#m07res) RESPONSIVE
 *      (#m08rts) RETINA
 */

/*
=================================================================
(#m01mls) MAIN LAYOUT
=================================================================
*/

/* Include Open Sans font from Google Web Fonts */
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Nunito&subset=vietnamese');

body {
    font-family: 'Open Sans',serif;
    color: #353535;
    background-color: #ffffff;
}

#page-container {
    margin: 0 auto;
    width: 100%;
}

#page-container.boxed {
    max-width: 1280px;
}

/*
=================================================================
(#m02hds) HEADER
=================================================================
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    color: #ffffff;
    background: url('../img/template/ie8_opacity_dark_20.png');
    background: rgba(255, 138, 36, 0.7);
    z-index: 1000;
    -webkit-transition: all ease-out 0.25s;
    transition: all ease-out 0.25s;
}

header.header-scroll {
    padding: 10px 0;
    background: url('../img/template/ie8_opacity_dark_60.png');
    background: #FF9100;
}

.input-group .form-control {
    z-index: 0 !important;
}
header.header-scroll:hover {
    background: #FFA726;
    opacity:0.9;
}
.input-group-btn:last-child>.btn {
    z-index: 0 !important;
}
.btn-group>.btn.active {
    z-index: 0 !important;
}
.carousel-inner .item .site-section .bgimg {
    margin-top: 64px;
}
.carousel-inner .item .site-section .bgimg2 {
    margin-top: 115px;
}
/*slide product*/
.col-md-12 .carousel {
    padding: 0 40px 30px 40px;
}
/* The controlsy */
/*.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}*/
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
/*end slide product*/
/* Logo */
a.site-logo {
    display: block;
    float: left;
    color: #ffffff;
    font-size: 24px;
    height: 34px;
    line-height: 34px;
}

a.site-logo:hover {
    color: #ffffff;
    text-decoration: none;
}

a.site-logo > i {
    font-size: 14px;
    opacity: 0.6;
    -webkit-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

a.site-logo:hover > i {
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}

/* Menu */
header nav {
    float: right;
}

.site-nav {
    position: fixed;
    top: 0;
    right: -260px;
    bottom: 0;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background: #353535;
    z-index: 1001;
    -webkit-transition: -webkit-transform ease-out .3s;
    transition: transform ease-out .3s;
}

.site-nav.site-nav-visible {
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
}

.lt-ie9 .site-nav.site-nav-visible {
    right: 0;
}

.site-nav a {
    display: block;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 10px;
    margin: 2px 5px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-transform: uppercase;
}

.site-nav a:hover {
    color: #333333;
    background: #ffffff;
    text-decoration: none;
}

.site-nav a.active,
.site-nav a.active:hover,
.site-nav li.active > a {
    color: #ffffff;
    background: url('../img/template/ie8_opacity_dark_40.png');
    background: rgba(0, 0, 0, 0.4);
}

.site-nav i {
    font-size: 14px;
}

.site-nav i.site-nav-arrow {
    float: right;
    line-height: 34px;
    margin-left: 10px;
    line-height: 32px !important;
}

/* Submenu */
.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.site-nav ul a {
    color: #dddddd;
    text-transform: none;
    height: auto;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
=================================================================
(#m03mcs) MAIN CONTENT
=================================================================
*/

/* Main Structure */
.media2 {
    margin-top:-90px;
    height: 245px !important;
}
.site-section {
    padding: 50px 0;
}

.site-block {
    margin-bottom: 49px;
}

.site-heading {
    margin: 0 0 29px;
}
.h4-left {
    margin-left: 25px;
}
.site-content {
    background-color: #ffffff;
    padding-bottom: 1px;
    padding-left:60px;
    padding-right: 60px;
}
.border-heart {
    width: 50px;
    height: 50px;
    border:2px dashed #34ae60;
    border-radius: 6px;
    text-align: center;
    padding-top:1%;
    background-color: rgb(247, 247, 247);
    float:right;
    transition:0.5s;
}
.border-heart:hover {
    box-shadow: 3px 3px 2px #ccc;
    transition:0.5s;
    cursor: pointer;
}
.border-heart:hover i {
    color:red;
}
.border-heart span i{
    font-size: 20px;
    color: #ff6666;
    margin-left:10%;
}
.border-heart:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}
.site-section-top {
    /*padding-top: 114px;*/
    overflow: hidden;
}

.site-section-light {
    color: #ffffff;
}

.site-slide-content {
    overflow-x: hidden;
}
/*Comment and reply*/

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
     margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 a {
    color: #03658c;
    text-decoration: none;
 }

ul {
    list-style-type: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}



.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #f2f2f2;
    padding: 10px 12px;
    overflow: hidden;
    border:1px solid #e5e5e5;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 20px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'doctor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}
/*End comment and reply*/
.site-top-avatar {
    margin-top: 25px;
    width: 74px;
    height: 74px;
    border-width: 5px;
    border-style: solid;
    border-color: #cccccc;
    border-color: rgba(255, 255, 255, 0.4);
}

.site-top-avatar.pull-right {
    margin-left: 30px;
}

.site-top-avatar.pull-left {
    margin-right: 30px;
}

.sidebar > .sidebar-block {
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.sidebar > .sidebar-block:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.promo-content {
    margin-bottom: 0;
    font-size: 18px;
    color: #555555;
}

/* Media Container */
.media-container {
    position: relative;
    height: 444px;
    overflow: hidden;
}

.media-container > .site-section {
    min-height: 279px;
}

.media-container > .site-section,
.media-container > .media-map,
.media-container > .media-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
.banner-title {
    color:#fff;
    margin-top: 95px;
}
.media-container > .media-image {
    /*left: 50%;*/
    width: 2560px;
    height: 444px;
/*    margin-left: -1280px;*/
}

.media-container > .site-section {
    z-index: 200;
    /*background: rgba(0, 0, 0, 0.2);*/
    text-shadow: 0 0 30px #000000;
}
/* Parallax */
.parallax-image {
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*search form*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

/*end search form*/
/* Footer */
.site-footer {
    color: #656565;
    padding-top: 11px;
    padding-bottom: 40px;
    background-color: #252525;
}

.footer-heading {
    color: #ffffff;
    font-size: 19px;
    margin: 29px 0 15px;
    text-align: center;
}

.footer-nav a {
    color: #777777;
    -webkit-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
}

.footer-nav a:hover {
    text-decoration: none;
}

.footer-nav-social a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #151515;
    border-radius: 13px;
    -webkit-transition: all ease-out 0.25s;
    transition: all ease-out 0.25s;
}

.footer-nav-social a:hover {
    color: #ffffff;
    background-color: #1bbae1;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}

/* Portfolio */
.portfolio {
    margin-bottom: 19px;
}
.portfolio-item > a {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-item > a > img {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.portfolio-item > a:hover > img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.portfolio-item-info {
    max-width: 260px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 5px;
    color: #ffffff;
    background: url('../img/template/ie8_opacity_dark_60.png');
    background: rgba(0, 0, 0, 0.6);
}
img.img-responsive-slider {
    max-width: 250px;
}
/* Store Items */
.store-items {
    margin-bottom: 19px;
}

.store-item {
    padding: 5px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: 4px solid #eeeeee;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.store-item:hover {
    border-color: #dddddd;
    text-decoration: none;
}

a.store-item:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.store-item-rating {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #ffffff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 10;
}

.store-item-icon {
    padding: 50px 20px;
    font-size: 84px;
    text-align: center;
}

.store-item:hover .store-item-rating {
    top: 15px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.store-item-image {
    overflow: hidden;
}

.store-item-image img {
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}


.store-item-price {
    font-weight: bold;
    font-size: 28px;
}



/* Store Menu */
.store-menu,
.store-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #eeeeee;
}

.store-menu a {
    display: block;
    padding: 7px 10px;
    color: #333333;
}

.store-menu a:hover,
.store-menu a:focus,
.store-menu a.active {
    text-decoration: none;
    color: #1bbae1;
}

.store-menu > li > a {
    font-weight: bold;
}

.store-menu a.submenu > i {
    margin-right: 5px;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.store-menu ul {
    display: none;
    background: #f9f9f9;
}

.store-menu ul a {
    padding: 5px 0 5px 25px;
}

.store-menu ul ul a {
    padding: 5px 0 5px 40px;
    color: #555555;
}

.store-menu .open > a.submenu > i {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.store-menu .open > ul {
    display: block;
}

/* Pricing Table */
.table.table-pricing {
    background-color: #ffffff;
}

.table-pricing th,
.table-pricing td {
    text-align: center;
}

.table-pricing th {
    font-size: 24px !important;
}

.table-pricing td {
    font-size: 15px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.table-pricing .table-price {
    background-color: #f9f9f9;
}

.table-pricing.table-featured .table-price,
.table-pricing .table-price.table-featured {
    background-color: #252525;
}

.table-pricing.table-featured th,
.table-pricing th.table-featured {
    background-color: #1bbae1;
    border-bottom: 2px solid #394263;
    color: #ffffff;
}

.table-pricing.table-featured td,
.table-pricing td.table-featured {
    background-color: #394263;
    color: #ffffff;
}

/* Gallery */
.gallery img, .gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 100%;
}

a[data-toggle="lightbox-image"],
a.gallery-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery a:hover img,
.gallery-image:hover img,
a[data-toggle="lightbox-image"]:hover img {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

.gallery > .row > div {
    margin-bottom: 15px;
}

.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Content which contains floats */
.content-float .pull-left {
    margin: 0 20px 20px 0;
}

.content-float .pull-right {
    margin: 0 0 20px 20px;
}

/* Counter */
.counter {
    text-align: center;
    color: #ffffff;
}

.counter span {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    display: block;
}

.counter small {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

/* Circles */
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    color: #ffffff;
    border-radius: 50px;
    margin-bottom: 15px;
    -webkit-transition: all ease-out 0.25s;
    transition: all ease-out 0.25s;
}

.circle:hover,
.circle:focus {
    color: #ffffff;
    text-decoration: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.circle .gi,
.circle .hi,
.circle .si,
.circle .fi {
    margin-top: -7px;
}

/* Row Items */
.row-items > div {
    margin-bottom: 49px;
}

/* Scroll to top link */
#to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 3px;
    padding: 0 12px 3px;
    font-size: 28px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#to-top:hover {
    color: #ffffff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*
=================================================================
(#m04bos) BOOTSTRAP OVERWRITE/EXTEND STYLES
=================================================================
*/

/* Typography */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: 300;
}

strong {
    font-weight: 600;
}

a,
a:hover,
a:focus,
.text-primary,
.text-primary:hover {
    color: #1bbae1;
}

.text-danger,
.text-danger:hover,
a.text-danger,
a.text-danger:hover,
a.text-danger:focus {
    color: #e74c3c;
}

.text-warning,
.text-warning:hover,
a.text-warning,
a.text-warning:hover,
a.text-warning:focus {
    color: #e67e22;
}

.text-success,
.text-success:hover,
a.text-success,
a.text-success:hover,
a.text-success:focus {
    color: #27ae60;
}

.text-info,
.text-info:hover,
a.text-info,
a.text-info:hover,
a.text-info:focus {
    color: #3498db;
}

.text-muted,
.text-muted:hover,
a.text-muted,
a.text-muted:hover,
a.text-muted:focus {
    color: #999999;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 10px 60px;
    position: relative;
    width: 100%;
    border-left: none;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-family: serif;
    font-size: 96px;
    position: absolute;
    left: 0;
    top: -30px;
    color: #eeeeee;
}

blockquote.pull-right:before {
    left: 10px;
    right: auto;
}

blockquote.no-symbol {
    padding: 10px 20px;
}

blockquote.no-symbol:before {
    content: "";
}

p {
    line-height: 1.7;
}

article p {
    font-size: 16px;
    line-height: 1.8;
}

ul.ul-breath li {
    margin-bottom: 7px;
}

/* Tables */
.table.table-vcenter th,
.table.table-vcenter td {
    vertical-align: middle;
}

.table-options {
    padding: 6px 0;
}

.table thead > tr > th {
    font-size: 14px;
    font-weight: 600;
}

.table thead > tr > th > small {
    font-weight: 400;
    font-size: 75%;
}

.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    padding-top: 14px;
    padding-bottom: 14px;
}

.table tfoot > tr > th,
.table tfoot > tr > td {
    background-color: #f9f9f9;
}

.table-borderless tbody > tr > th,
.table-borderless tbody > tr > td {
    border-top-width: 0;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
.table tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #f2f2f2;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f2f2f2;
}

/* Forms */
label {
    font-weight: 600;
}

fieldset legend {
    font-size: 16px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #eaedf1;
}

input[type="file"] {
    padding-top: 7px;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
textarea.form-control {
    -webkit-appearance: none;
}

.form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #353535;
    border-color: #dddddd;
}

.form-control-borderless .form-control,
.form-control-borderless .input-group-addon,
.form-control-borderless,
.form-control-borderless:focus {
    border: transparent !important;
}

.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.input-group .form-control {
    margin-top: 0;
}

.form-control:focus {
    border-color: #1bbae1;
}

.help-block {
    color: #777777;
    font-weight: 400;
}

.input-group-addon {
    min-width: 45px;
    text-align: center;
    background-color: #ffffff;
    border-color: #dbe1e8;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dashed #eaedf1;
}

.form-bordered .form-group.form-actions {
    background-color: #f9fafc;
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .help-block,
.has-success .control-label,
.has-success .input-group-addon,
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .radio,
.has-success .radio-inline {
    color: #27ae60;
}

.has-success .form-control,
.has-success .input-group-addon {
    border-color: #27ae60;
    background-color: #ffffff;
}

.has-success .form-control:focus {
    border-color: #166638;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .input-group-addon,
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .radio,
.has-warning .radio-inline {
    color: #e67e22;
}

.has-warning .form-control,
.has-warning .input-group-addon {
    border-color: #e67e22;
    background-color: #ffffff;
}

.has-warning .form-control:focus {
    border-color: #b3621b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .input-group-addon,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .radio,
.has-error .radio-inline {
    color: #e74c3c;
}

.has-error .form-control,
.has-error .input-group-addon {
    border-color: #e74c3c;
    background-color: #ffffff;
}

.has-error .form-control:focus {
    border-color: #c0392b;
}

/* Form Select Switches */
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 1px;
    bottom: 1px;
    width: 24px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50%;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.switch input:checked + span:after {
    left: 26px;
    border: none;
    -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
    background-color: #eeeeee;
}

.switch-default span {
    border-color: #dbe1e8;
}

.switch-default input:checked + span {
    background-color: #dbe1e8;
}

.switch-primary span {
    border-color: #1bbae1;
}

.switch-primary input:checked + span {
    background-color: #1bbae1;
}

.switch-info span {
    border-color: #7abce7;
}

.switch-info input:checked + span {
    background-color: #7abce7;
}

.switch-success span {
    border-color: #aad178;
}

.switch-success input:checked + span {
    background-color: #aad178;
}

.switch-warning span {
    border-color: #f7be64;
}

.switch-warning input:checked + span {
    background-color: #f7be64;
}

.switch-danger span {
    border-color: #ef8a80;
}

.switch-danger input:checked + span {
    background-color: #ef8a80;
}

.lt-ie9 .switch input {
    position: static;
    opacity: 1;
    filter: alpha(opacity=100);
}

.lt-ie9 .switch span,
.lt-ie9 .switch span:after {
    display: none !important;
}

/* Buttons */
.btn {
    margin: 1px 0;
    border-width: 0;
    background-color: #ffffff;
    -webkit-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
}

.input-group-btn .btn {
    border-width: 1px;
}

.btn .gi,
.btn .hi,
.btn .si,
.btn .fi {
    line-height: 1;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.input-group .btn,
.modal-content .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-default {
    background-color: #f1f1f1;
    border-color: #eeeeee;
    color: #353535;
}

.btn-default.btn-alt {
    background-color: #ffffff;
}

.btn-default:hover {
    background-color: #dddddd;
    border-color: #cccccc;
}

.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .btn-default.dropdown-toggle {
    background-color: #eaedf1;
    border-color: #eaedf1;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #eaedf1;
    border-color: #eaedf1;
}

.btn-primary {
    background-color: #6ad2eb;
    border-color: #1bbae1;
    color: #ffffff;
}

.btn-primary.btn-alt {
    background-color: #ffffff;
    color: #1bbae1;
}

.btn-primary:hover {
    background-color: #1bbae1;
    border-color: #1593b3;
    color: #ffffff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .btn-primary.dropdown-toggle {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #ffffff;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #ffffff;
}

.btn-danger {
    background-color: #ef8a80;
    border-color: #e74c3c;
    color: #ffffff;
}

.btn-danger.btn-alt {
    background-color: #ffffff;
    color: #e74c3c;
}

.btn-danger:hover {
    background-color: #e74c3c;
    border-color: #9c3428;
    color: #ffffff;
}

.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .btn-danger.dropdown-toggle {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}

.btn-warning {
    background-color: #f7be64;
    border-color: #f39c12;
    color: #ffffff;
}

.btn-warning.btn-alt {
    background-color: #ffffff;
    color: #f39c12;
}

.btn-warning:hover {
    background-color: #f39c12;
    border-color: #b3730c;
    color: #ffffff;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .btn-warning.dropdown-toggle {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}

.btn-success {
    background-color: #aad178;
    border-color: #7db831;
    color: #ffffff;
}

.btn-success.btn-alt {
    background-color: #ffffff;
    color: #7db831;
}

.btn-success:hover {
    background-color: #7db831;
    border-color: #578022;
    color: #ffffff;
}

.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .btn-success.dropdown-toggle {
    background-color: #7db831;
    border-color: #7db831;
    color: #ffffff;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #7db831;
    border-color: #7db831;
    color: #ffffff;
}

.btn-info {
    background-color: #7abce7;
    border-color: #3498db;
    color: #ffffff;
}

.btn-info.btn-alt {
    background-color: #ffffff;
    color: #3498db;
}

.btn-info:hover {
    background-color: #3498db;
    border-color: #2875a8;
    color: #ffffff;
}

.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .btn-info.dropdown-toggle {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link.btn-icon:hover,
.btn-link.btn-icon:focus {
    color: #1bbae1;
}

.btn-link.btn-icon {
    color: #999999;
}

.btn-link.btn-icon:hover,
.btn-link.btn-icon:focus {
    text-decoration: none;
}

/* Labels, Badges */
.label,
.badge {
    font-weight: normal;
    font-size: 90%;
}

.label {
    padding: 1px 4px;
}

.badge {
    background: url('../img/template/ie8_opacity_dark_30.png') repeat;
    background: rgba(0, 0, 0, 0.3);
    padding: 3px 6px;
}

.label-danger {
    background-color: #e74c3c;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #ff5542;
}

.label-warning {
    background-color: #e67e22;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ff8b26;
}

.label-success {
    background-color: #27ae60;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #2cc76c;
}

.label-info {
    background-color: #2980b9;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #2f92d4;
}

.label-primary {
    background-color: #1bbae1;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #5ac5e0;
}

.label-default {
    background-color: #999999;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #777777;
}

/* Alerts */
.alert {
    border-top-width: 0;
    border-right-width: 2px;
    border-bottom-width: 0;
    border-left-width: 2px;
}

.alert-danger {
    color: #e74c3c;
    background-color: #eceae9;
    border-color: #eceae9;
}

.alert-danger .alert-link {
    color: #e74c3c;
}

.alert-warning {
    color: #e67e22;
    background-color: #ffe4cc;
    border-color: #ffd6b2;
}

.alert-warning .alert-link {
    color: #e67e22;
}

.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb;
}

.alert-success .alert-link {
    color: #27ae60;
}

.alert-info {
    color: #3498db;
    background-color: #dae8f2;
    border-color: #b8d2e5;
}

.alert-info .alert-link {
    color: #3498db;
}

.alert-dismissable .close {
    top: -5px;
    right: -25px;
}

.close {
    text-shadow: none;
}

/* Carousel */
.carousel-control {
    width: 60px;
}

.carousel-control.left,
.carousel-control.right,
.carousel-control.left.no-hover:hover,
.carousel-control.right.no-hover:hover {
    background: none;
    filter: none;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background: url('../img/template/ie8_opacity_dark_20.png') repeat;
    background: rgba(0, 0, 0, 0.1);
    filter: none;
}

.carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    text-shadow: none;
}

.carousel-control i {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.carousel.carousel-html {
    margin-bottom: 40px;
}

.carousel-html .carousel-indicators {
    bottom: -20px;
}

.carousel-html .carousel-indicators li {
    background-color: #dddddd;
}

.carousel-html .carousel-indicators .active {
    background-color: #1bbae1;
}

.carousel-html .carousel-control {
    text-shadow: none;
    color: #cccccc;
}

.carousel-html .carousel-control:hover {
    color: #ffffff;
}

.carousel-home {
    margin-bottom: 0 !important;
    margin-top:-90px ;
}

.carousel-home img{
    max-width: 100%;
}

/* Nav */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #fff;
    background-color: #1bbae1;
}

.nav > li i {
    font-size: 14px;
}

.nav-pills > .active > a > .badge {
    color: #1bbae1;
}

.nav-stacked > li > a {
    margin: 4px 0 0;
}

.nav .caret,
.nav a:hover .caret,
.nav a:focus .caret {
    border-top-color: #1bbae1;
    border-bottom-color: #1bbae1;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #f9fafc;
}

.nav-tabs {
    border-bottom-color: #eaedf1;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: -1px;
}

.nav-tabs > li > a:hover {
    border-color: #eaedf1;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #394263;
    border-color: #eaedf1;
    border-bottom-color: transparent;
}

.nav-pills > li.active > a > .badge {
    background: url('../img/template/ie8_opacity_dark_20.png') repeat;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

/* Pagination & Pager */
.pagination > li > a,
.pagination > li > span  {
    color: #1bbae1;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 25px !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #1bbae1;
    font-weight: 600;
}

.pager > li > a,
.pager > li > span {
    border-color: #eaedf1;
}

.pager > li > a:hover,
.pagination > li > a:hover {
    background-color: #1bbae1;
    border-color: #1bbae1;
    color: #ffffff;
}

.pager > li.disabled > a:hover {
    border-color: #eaedf1;
}

/* Modals */
.modal-content {
    border-radius: 3px;
}

.modal-header {
    padding: 15px 15px 14px;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-title {
    font-weight: 300;
}

.modal-body {
    padding: 20px 15px;
}

.modal-body .nav-tabs {
    margin: 0 -15px 15px;
    padding: 0 5px !important;
}

.modal-footer {
    margin-top: 0;
    padding: 14px 15px 15px;
    border-top: 1px solid #eeeeee;
    background-color: #f9f9f9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Bottom Margin */
p, .table, .alert, .carousel {
    margin-bottom: 20px;
}

/* Removing shadows and radius */
.navbar-form,
.navbar-collapse,
.form-control,
.form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus,
.popover,
.progress,
.progress-bar,
.btn.active,
.open .btn.dropdown-toggle,
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
=================================================================
(#m05ths) THEME
=================================================================
*/

/* Default Color Theme specific colors */
.themed-color {
    color: #1bbae1;
}

.themed-border {
    border-color: #1bbae1;
}

.themed-background {
    background-color: #1bbae1;
}

.themed-color-dark {
    color: #394263;
}

.themed-border-dark {
    border-color: #394263;
}

.themed-background-dark {
    background-color: #FFB74D;
}
h3.site-heading {
    color: #ED6D12;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
}
p.promo-content {
    color: #898989;
}
.site-content .margin-left {
    margin-left:50px;
}
.left {
    padding-left :50px;
}
/*
=================================================================
(#m06hes) HELPERS
=================================================================
*/
.product-name {
    margin-bottom: 20px;
    margin-top: 20px;
}
.product-name span{
    color: #3399cc;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
}
.site-section-detail {
    margin-top: -90px;
    padding-top: 100px;
    background-color: #FFCC80;
}
.push-bit {
    margin-bottom: 30px;
}

.push {
    margin-bottom: 49px;
}

.push-top-bottom {
    margin-top: 49px;
    margin-bottom: 49px;
}

.remove-margin {
    margin-bottom: 0;
}

.lt-ie9 .hidden-lt-ie9 {
    display: none !important;
}

.display-none {
    display: none;
}

.visibility-none {
    visibility: hidden;
}

:focus {
    outline: 0 !important;
}

/*
=================================================================
(#m07res) RESPONSIVE
=================================================================
*/

/* Small devices, Tablets (>767px) */
@media screen and (min-width: 768px) {

    /* General */
    .site-heading-promo {
        margin-top: 60px;
    }

    .modal-body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Medium devices, Desktops (>991px) */
@media screen and (min-width: 992px) {

    /* Menu */
    .site-nav {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        overflow-y: visible;
        width: auto;
        background: transparent;
        z-index: auto;
        -webkit-transition: none;
        transition: none;
    }

    .site-nav.site-nav-visible {
        -webkit-transform: none;
        transform: none;
    }

    .lt-ie9 .site-nav.site-nav-visible {
        right: auto;
    }

    .site-nav li {
        float: left;
        padding: 0;
        margin-left: 5px;
        position: relative;
    }

    .site-nav a {
        margin: 0;
    }

    .site-nav li:hover > ul {
        display: block;
    }

    .site-nav li.active > a {
        border-radius: 3px;
    }

    .site-nav a.site-nav-sub,
    .site-nav li.active:hover > a.site-nav-sub {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .site-nav > li:hover > a,
    .site-nav > li.active:hover > a {
        color: #333333;
        background: #ffffff;
        text-decoration: none;
    }

    .site-nav a.site-nav-sub {
        padding-right: 30px;
    }

    .site-nav i.site-nav-arrow {
        margin: 0 -20px 0 0;
    }

    /* Submenu */
    .site-nav ul {
        display: none;
        position: absolute;
        left: 0;
        top: 34px;
        padding: 2px 0;
        width: 220px;
        background-color: #ffffff;
        border-radius: 3px;
        border-top-left-radius: 0;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .site-nav li:last-child ul {
        left: auto;
        right: 0;
        border-radius: 3px;
        border-top-right-radius: 0;
    }

    .site-nav ul li {
        float: none;
        margin: 0;
        padding: 1px 3px;
    }

    .site-nav ul a {
        color: #333333;
    }

    .site-nav ul a:hover {
        background-color: #eeeeee;
    }

    .site-nav ul a.active,
    .site-nav ul a.active:hover {
        background-color: #454545;
    }
}

/* Large devices, Desktops (>1199px) */
@media screen and (min-width: 1200px) {

    /* General */
    article p {
        font-size: 19px;
        line-height: 1.9;
    }

    .site-heading-promo {
        margin-top: 120px;
    }

    .promo-content {
        font-size: 24px;
        font-weight: 300;
    }
}
.img1 {
    width:60%;
    margin-left: 140px;
}
.img2 {
    margin-left:90px;
    width:50%;
}
.img3 {
    width: 50%;
    margin-top: 70px;
    margin-left: 90px;
}
/*
=================================================================
(#m08rts) RETINA
=================================================================
*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    /* If you did use a CSS image background, you can put your high resolution image here */

}

.pull-left{
    height: 50px !important;
}

.login-main-page{
    margin-top: 120px;
    margin-bottom: 120px;
}

.register-main-page{
    margin-top: 90px;
    margin-bottom: 90px;
}

.resetpass-main-page{
    margin-top: 215px;
    margin-bottom: 215px;
}

.contact-main-page{
    margin-top: 135px;
    margin-bottom: 135px;
}